server:
  min-port: 49100
  max-port: 50000
  require-id: false
  secret: mysecret

# Available fields:
#   min-port: 49100
#   max-port: 50000
#   control-port: 7385
#   require-id: false
#   secret: mysecret
#   whitelist-static-port: ["myaddress@example.com"]